@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="card-body">
    <p class="login-box-msg">Register a new membership</p>

    <form  method="post">
        <div class="input-group mb-3">
            <input asp-for="Input.FullName" type="text" class="form-control" placeholder="Full name">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div style="margin-top:-3px;"><span asp-validation-for="Input.FullName" class="text-danger"></span></div>
        <div class="input-group mb-3">
            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
            <span asp-validation-for="Input.Email" class="help-block"></span>
        </div>
        <div class="input-group mb-3">
            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            <span asp-validation-for="Input.Password" class="help-block"></span>
        </div>
        <div class="input-group mb-3">
            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Retype password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="help-block"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    <input asp-for="Input.IsAgree" type="checkbox" id="agreeTerms" name="terms" value="agree">
                    <label for="agreeTerms">
                        I agree to the <a href="#">terms</a>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
            <span asp-validation-for="Input.IsAgree" class="help-block"></span>
        </div>
    </form>

    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">I already have a membership</a>
</div>
<!-- /.form-box -->
  


